<h1> Showing Article</h1>
<p>TITLE: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>

<%= link_to 'Edit', edit_article_path(@article) %> | 
<%= link_to 'Delete', article_path(@article), method: :delete, data:{ Confirm: "Are you sure?" } %>

