<h1 class="text-center mt-3">Edit category</h1>
<div class="container">
  <%= render 'form' %>
  <div class="mb-3 text-center">
    <%= link_to '[ Cancel and return to category ]', category_path(@category), class: "link-info" %>
  </div>
</div>
